body {
  background-color: rgb(169, 190, 188);
  font-family: sans-serif;
}

.kontejner {
  display: flex;
}

.levy, .pravy {
  flex-basis: 50%;
}

.pravy {
  display: flex;
  flex-direction: column;
}